*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
p, h1, h3, h4, span, a, button, .logo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding: 20px 100px;
}
header.height{
    background-color: #fff;
    transition: 1s ease-in;
    box-shadow: 3px #162938;
    border-bottom: 1px solid #162938;
}

header.height .logo{
    color: #06b9f7;
}
header.height .btnLogin-popup{
    color: #162938;
    background: transparent;
    border: 2px solid #162938;
    outline: none;
    opacity: 0;
}
.btnLogin-popup{
    animation: slideTop 2s ease forwards;
}
header.height .btnLogin-popup:hover{
    background-color: #162938;
    color: #fff;
}

header.height:hover::after{
    transform: scale(1);
    transform-origin: left;
}
.logo{
    font-size: 2em;
    user-select: none;
    color: #fff;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.mobile-view{
    display: none;
}
.navigation a, header.height a{
    position: relative;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    text-transform: uppercase;

}
header.height a{
    color: #162938;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navigation a::after, header.height a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;
}
.navigation a.active::after{
    transform: scale(1);
}
header.height a::after{
    background: #06b9f7;
}
.navigation a:hover::after{
    transform: scale(1);
    transform-origin: left;
}
.navigation a{
    display: inline-block;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navigation .btnLogin-popup, header.height .btnLogin-popup, .home-content .hire-btn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    margin-left: 20px;
    transition: .5s;
    text-transform: uppercase;
}
.home-content .hire-btn{
    margin-left: 0; 
    border-radius: 60px; 
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .2s;  
}
header.height .btnLogin-popup{
    color: #162938;
    background: transparent;
    border: 2px solid #162938;
    margin-left: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
}
.navigation .btnLogin-popup:hover, .home-content .hire-btn:hover {
    background: #fff;
    color: #162938;
}
.home{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 10% 0;
    column-count: 2;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content p{
    font-size: 16px;
    color: #fff;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
}
.home-content h3:nth-last-of-type(1){
    margin-bottom: 15px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color:#06b9f7;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    color: #fff;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
}
.home-img img{
    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: .2s, 3s;
}
.social-media a, .contact-social-media a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #06b9f7;
    border-radius: 50%;
    color: #06b9f7;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-media a:hover, .contact-social-media a:hover{
    background: #06b9f7;
    color: #162938;
    box-shadow: 0 0 20px #06b9f7;
}
.contact-social-media a{
    width: 25px;
    height: 25px;
    margin: 0 5px;
}
section .animate{
    filter: blur(5px);
    transition: 1s;
}
section.show-animate .animate{
    filter: blur(0);transform: translateX(0);
}

.sec-4 .contact-layout-items {
    transform: translateX(-100%);
    transition-delay: calc(.2s * var(--i));
}
.sec-4.show-animate .contact-layout-items{
    transform: translateX(0);
}
.sec-2.show-animate .image-class{
    transform: translateX(0);
    opacity: 1;
    animation: zoomIn 1s ease forwards;
    animation-delay: .2s; 
}
.sec-2.show-animate .animate{
    animation: slideLeft 1s ease forwards;
    animation-delay: .2s;
}
.sec-3 .showRight-animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f4f3;
    transition: 1s;
    transition-delay: calc(.2s * var(--i));
}
.sec-3.show-animate .showRight-animate{
    width: 0;
}


/*-------------- 2. Preloader css starts ---------------*/

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after {
    content: '';
    border: 1em solid #06B9F7; 
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0; }
    50% {
        opacity: 1; }
    100% {
        transform: scale(1);
        opacity: 0; }
}


/*-------------- Preloader css ends ---------------*/
/* 
======================================================================================
LOGIN AND REGISTRATION CASCADING
======================================================================================
*/
.section-content {
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("./img/img-background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.container-box{
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding-top: 100px;
    top: 0;
    left:0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    transition: 3s ease-in-out;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    transition: transform .5s ease, height .2s ease;
    overflow: hidden;
    transform: scale(0);
    margin: 0 auto;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
}
.container.active{
    height: 520px;
}
.container.active-popup{
    transform: scale(1);
}
.container .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.container.active .form-box.login{
    transition: none;
    transform:translate(-400px) ;
}
.container .form-box.register{
    position: absolute;
    transform: translate(400px);
    transition: none;
}
.container.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.container .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 99;
    transition: transform 3.18s ease;
}
.container .icon-close:hover{
    color: #ae0e0e;;
}
.container .form-box{
    width: 100%;
    padding: 40px;
}
.form-box h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.input-section{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}
.input-section input:focus~label, .input-section input:valid~label{
    top: -5px;
}
.input-section label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-section input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-section .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}
.form-footer{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.form-footer label input{
    accent-color: #162938;
    margin-right: 3px;
}
.form-footer a{
    color: #162938;
    text-decoration: none;
}
.form-footer a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
}
.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #162938;
    text-decoration: none;
}
.login-register a:hover{
    text-decoration: underline;
}

/* 
======================================================================================
END OF LOGIN AND REGISTRATION CASCADING
======================================================================================
*/
/* 
======================================================================================
ABOUT ME
======================================================================================
*/
#about{
    width: 100%;
    height: auto;
}
.about-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: transform .5s ease, height .2s ease;
    overflow: hidden;
}
.about-container .about-me{
    width: 50%;
    height: 100%;
    background-color: transparent;
    margin: auto 0;
}
.about-me .text-content{
    padding: 0 20px;
    text-align: justify;
    height: 100%;
    width: 100%;
    margin-top: 8%;
    color: #162938;
    line-height: 1;
    text-align: right;
    font-size: 15px;
    letter-spacing: 0;
}
.text-content h1, .skills h1{
    display: inline-block;
    padding: 20px 0;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
}
.text-content p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;
    text-align: right;
    font-size: 20px;
    letter-spacing: 0;
}
.text-content .download-btn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #162938;
    outline: none;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    color:#162938;
    margin-left: 40px;
    transition: .5s;
    text-decoration: none;
}
.text-content .download-btn:hover{
    background: #162938;
    color: #fff;
}
.about-container .skills{
    height: 100%;
    width: 50%;
    padding: 0 20px;
    text-align: justify;
    margin-top: 5%;
    color: #162938;
    line-height: 1;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0; 
    background-color: #fff;
}
.image-class{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 100vh;
    margin-top: 50px;
    background-color: #fff;
    overflow: hidden;
 }
 .image-class img{
    width:80%;
    margin-bottom: -20%;
    min-height:805%;
    background-size: cover; 
    background-position: center;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: .2s;
 }

/* SKILLBAR ANIMATION */

.skill-bar h3 span{
    color: #162938;
    float: right;
}
.skill-bar .progress{
    padding: 3px 0;
}
.progress{
    margin-bottom: 20px;
}
.progress .progress-bar{
    width: 100%;
    height: 11px;
    background-color: #162938;
    border-radius: 5px;
    margin: 10px 0;
}
.progress .progress-bar div{
    height: 12px;
    border-radius: 5px;
    width: 0%;
    background-color: #06b9f7;
}
.progress .progress-bar div span{
    height: 40px;
    width: 40px;
    float: right;
    border-radius: 50%; 
    color: #f3f4f3  ;
    background-color: #162938;
    margin-top: -15px;
    margin-right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #06b9f7;
}
/* .sec-2.show-animate .animate{
    animation: html 2s linear forwards;
    animation-delay: calc(.2s * var(--i));
} */
.html{
    animation: html 2s linear forwards;
    animation-delay: calc(.2s * var(--i));
}
.css{
    animation: css 2s linear forwards;
    animation-delay: calc(.2s * var(--i));
}
.javascript{
    animation: javascript 2s linear forwards;
    animation-delay: calc(.2s * var(--i));
}
.python{
    animation: python 2s linear forwards;
    animation-delay: calc(.2s * var(--i));
}
.mysql{
    animation: mysql 2s linear forwards;
    animation-delay: calc(.2s * var(--i));
}

/* 
======================================================================================
END OF ABOUT ME
======================================================================================
*/

/* 
======================================================================================
SERVICES
======================================================================================
*/
#services{
    width: 100%;
    height: auto;
    background-color: #f3f4f3;   
}
.services-heading h1, .client-content h1{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 190px;
    flex-grow: 1;
    padding-top: 100px;
}
.services-content{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 3em;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 100px;
}

.services-content .toggle{
    width: 350px;
    height: 20em;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction:column;
    border: 1px solid #b7bbbe;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.toggle .toggle-icon{
    font-size: 50px;
    padding-bottom: 15px;
    transition: .8s;
    cursor: default;
    color: #06b9f7;
    border: none;
}
.toggle h1{
    position: relative;
    padding-bottom: 15px;
    text-transform: capitalize;
    color: #162938;
}
.toggle p{
    position: relative;
    padding-bottom: 20px;
    text-align: center;
    line-height: 23px;
    font-size: larger;
    color: #747474;
}
.number-area{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06b9f7;
    padding: 0 10px;
    height: 270px;
    gap: 1em;
}
.number-area .counters{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: inherit;
}
.counters .counters_content{
    text-align: center;
}
.counters_content h1{
    font-weight: 800;
    font-size: 45px;
    color: #fff;   
    padding-bottom: 15px; 
}
.counters_content h2{
    font-size: 30px;
    padding-bottom: 15px;
}
.counters_content p{
    font-size: 20px;
    font-weight: 800;
    color: #747474;
}
.counters_content i{
    font-weight: 800;
    font-size: 45px;
    color: #fff;   
    padding-bottom: 15px; 
}
/* 
======================================================================================
END OF SERVICES
======================================================================================
*/
/* 
======================================================================================
CLIENT
======================================================================================
*/
#client{
    width: 100%;
    height: auto;
}
.client-container{
    min-height: auto;
    background: url("./img/client.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.client-content{
    background-color: rgba(0,0,0,0.4);
    min-height: 100vh;
}
.client-content h1{
    color: #fff;
    z-index: -1;
    text-transform: uppercase;
}
.client-board{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 80%;
    height: 420px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgba(255, 255, 255, 0.9);
}
.client-board .client-contents{
    width: 900px;
    height: 360px;
    border: 1px solid #b7bbbe;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonial p{
    font-size: 22px;
    color: #747474;
    text-align:center;
    padding: 10px 0;
    /* background-color: #ae0e0e; */
}
.testimonial h2{
    text-transform: uppercase;
    color: #06b9f7;
    padding: 10px 0;
    text-align: center;
}
.testimonial h3{
    color: #747474;
    margin: 10px auto;
    text-align: center;
    padding-bottom: 20px;
}
.testimonial .client-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f3f4f3;
    overflow: hidden;
    margin: 0 auto;
}
.testimonial .client-image img{
    width: 80px;
    height: 80px;
    position: relative;
}
.sliders{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: #ae0e0e; */
  }
  .slides{
    width: 500px;
    height: 500px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .st{
    transition: 1s;
  }
  .testimonial{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 500px;
    margin-top: -60px;
    padding: 10px 90px;
  }
  .st img{
    width: 800px;
    height: 500px;
  }
  .nav-m{
    position: absolute;
    width: 800px; 
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m-btn{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
  }
  .m-btn:not(:last-child){
    margin-right: 300px;
  }
  .m-btn:hover{
    background-color: #06b9f7;
  }
  #radio1:checked ~.first{
    margin-left: 0;
  }
  #radio2:checked ~.first{
    margin-left: -160%;
  }
  #radio3:checked ~.first{
    margin-left: -320%;
  }
  #radio4:checked ~.first{
    margin-left: -480%;
  }
  .nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 330px;
    display: flex;
    justify-content: center;
  }
  .nav-auto div{
    border: 2px solid #06b9f7;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  .nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
  }
  #radio1:checked ~ .nav-auto .a-b1{
    background-color: #23e3c2;
  }
  #radio2:checked ~ .nav-auto .a-b2{
    background-color: #23e3c2;
  }
  #radio3:checked ~ .nav-auto .a-b3{
    background-color: #23e3c2;
  }
  #radio4:checked ~ .nav-auto .a-b4{
    background-color: #23e3c2;
  }
/* 
======================================================================================
END OF CLIENT
======================================================================================
*/
/* 
======================================================================================
CONTACT ME
======================================================================================
*/
.contact-content{
    width: 100%;
    min-height: 140vh;
    background-color: #f3f4f3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: transform .5s ease, height .2s ease;
    overflow: hidden;
    flex-direction: column;
    gap: 3em;
}
.contact-content .contact-title{
    color: #000;
    padding: 8em 0 12px;
}
.contact-content .contact-title h1{
    font-size: 25px;
    text-transform: uppercase;
}
.contact-content .contact-layout{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    gap: 2em;
}
.contact-layout .contact-layout-items{
    width: 100%;
    height: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
.contact-layout-items h3{
    text-transform: uppercase;
}
.contact-layout-items i{
    color: #06b9f7;
    font-size: 36px;
}
.contact-layout-items .contact-social-media a :hover{
    color: #162938;
}
.contact-social-media a i{
    font-size: 19px;
}

.input-container{ 
    width: 80% ;
    height: auto;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-container .row-align, .input-container .text-area{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    gap: 1em;
    padding: 40px;
}
.col-align input[type="text"], .col-align input[type="email"]{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color:darkgray;
    background-color: #f3f4f3;
    font-size: 18px;
}
.col-align input[type="text"]{
    text-transform: capitalize;
}
.input-container .text-area{
    flex-direction: column;
    align-items: flex-start;
}
.input-container textarea{
    margin-top: -50px;
    width: 100%;
    height: 20em;
    padding: 15px;
    outline: #ae0e0e;
    background-color: #f3f4f3;
    border-color:darkgray;
    border-width: 2px;
    font-size: 18px;
}
.col-align p, .text-area p{
    color: #ae0e0e;
    font-size: 18px;
    text-transform: capitalize;
    display: none;
}
/* TEXT INPUTS ON-FOCUS */
.input-container textarea:focus, .col-align input[type="text"]:focus, .col-align input[type="email"]:focus{
    border-color: rgb(76, 7, 7);
    box-shadow: 0 0 7px rgb(126, 5, 5);
    outline: none;
}
button.submit-button.btn{
    width: 100%;
    background-color: darkgrey;
    cursor: not-allowed;
}
button.submit-button.btn.enabled{
    background-color: #06b9f7;
    cursor: pointer;
}
.row-align .col-align{
    width: 100%;
}
/* 
======================================================================================
FOOTER
======================================================================================
*/
.footer-content{
    height: 80px;
    background-color: #162938;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* 
======================================================================================
SCROLL TO TOP BUTTON
======================================================================================
*/
#scrollToTopbtn {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #scrollToTopbtn::after {
    content: "\2191";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #scrollToTopbtn:hover {
    cursor: pointer;
    background-color: #333;
  }
  #scrollToTopbtn:active {
    background-color: #555;
  }
  #scrollToTopbtn.show {
    opacity: 1;
    visibility: visible;
  }
  
  @media (min-width: 500px) {
    #scrollToTopbtn {
      margin: 30px;
    }
  }
/* 
======================================================================================
END OF SCROLL TO TOP BUTTON
======================================================================================
*/
/* 
======================================================================================
MEDIA QUERIES FOR MOBILES
======================================================================================
*/
@media only screen and (max-width: 767px) {
    header{
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 15px 12px;
    }
    .navigation{
        position: absolute;
        top: 72px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        /* transform: translateX(-50%); */
        /* animation: zoomIn 1.5s ease-out; */
        animation: zoomIn 1s ease forwards;
    }
    .navigation.show{
        background: rgba(181, 181, 181);
    }
    .navigation a, header.height a{
        display: none;
        width: auto;
        font-size: 10px;
        margin-left: 2px;
        text-align: left;
    }
    .navigation a::after, header.height a::after{
        bottom: 2px;
        height: 2px;
    }
    .mobile-view{
        display: block;
        font-size: 35px;
        color: #fff;
    }
    header.height .mobile-view{
        color: #000;
        font-size: 35px;
    }
    .navigation.show a, header.height.show a{
        display: flex;
        padding: 8px;
        font-size: 12px;
    }
    .btnLogin-popup{
        display: none;
    }
    .home{
        flex-direction: column-reverse;
    }
    .home-img img{
        display: inline;
        width: 200px;
        height: 200px;
    }
    .logo{
        padding-left: 5px;
        font-size: 25px;
        font-weight: 700;
        text-align: left;
        color: #fff;
    }
    .home-content h3{
        padding-top: 5px;
        font-size: 18px;
    }
    .home-content p{
        font-size: 16px;
    }
    .home-content h1{
        font-size: 36px;
    }
    /* 
    MEDIA QUERIES FOR MOBILES ---ABOUT---
    ======================================================================================
    */
    .about-container{
        flex-direction: column;
    }
    .image-class{
        display: none;
    }
    .about-me.animate, .skills.animate{
        width: 400px;
    }
    .about-me .text-content,  .text-content p{
        text-align: center;
    }
    .text-content .download-btn{
        margin: 0;
    }
    .text-content h1{
        padding-top: 60px;
    }
    .skills h1{
        padding-left: 10px;
    }
    .skill-bar{
        padding: 0 10px;
    }
    /* 
    MEDIA QUERIES FOR MOBILES ---CLIENT---
    ======================================================================================
    */
    .client-content h1{
        padding-top: 0;
    }
    .client-board{
        overflow: hidden;
        margin-top: -40px;
        width: 360px;
    }
    .client-board .client-contents{
        width: 322px;
        overflow: hidden;
    }
    .testimonial p{
        width: 280px;
        height: 150px;
        font-size: 18px;
        overflow-y: scroll;
    }
    .testimonial h3{
        margin: 5px auto;
        text-align: center;
        padding-bottom: 50px;
        font-size: 16px;
    }.testimonial h2{
        margin: 5px auto;
        font-size: 18px;
        padding-bottom: 0;
    }
    .nav-auto div:not(:last-child){
        margin-right: 10px;
    }
    .nav-auto{
        width: 100px;
        margin-left: 350px;
    }
    /* 
    MEDIA QUERIES FOR MOBILES ---SERVICES---
    ======================================================================================
    */
    .services-content{
        flex-direction: column;
        margin: 0;
    }
    .service1.toggle, .service2.toggle, .service3.toggle{
        margin-top: 0;
    }
    .service3.toggle{
        margin-bottom: 20px;
    }
    .services-heading h1{
        padding-top: 10px;
    }
    .counters_content h1{
        font-size: 20px;
    }
    .counters_content p{
        font-size: 15px;
    }
    .counters_content i{
        font-size: 30px;
    }
    /* 
    MEDIA QUERIES FOR MOBILES ---CONTACTS---
    ======================================================================================
    */
    .contact-content .contact-layout{
        flex-direction: column;
        height: 900px;
    }
    .contact-layout .contact-layout-items{
        padding: 30px 0;
    }
    .contact-content .contact-title{
        padding-top: 80px;
    }
    .text-area .btn{
        width: 50%;
    }
    .input-container .row-align{
        flex-direction: column;
    }
    .col-align input[type="text"], .col-align input[type="email"]{
        padding: 0 12px;
    }
}
/* 
======================================================================================
Keyframe Animations
======================================================================================
*/

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}

/* SKILLBAR ANIMATION */

@keyframes html {
    100%{
        width: 86%;
    }
}
@keyframes css {
    100%{
        width: 75%;
    }
}
@keyframes javascript {
    100%{
        width: 82%;
    }
}
@keyframes python {
    100%{
        width: 88%;
    }
}
@keyframes mysql {
    100%{
        width: 70%;
    }
}
@keyframes scrollDownAnimation {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) translateY(-10px);
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) translateY(10px);
    }
  }
